@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";

@-webkit-keyframes pikmin-bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pikmin-bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}

.pikmin-bounce {
  -webkit-animation: pikmin-bounce 0.6s ease-in-out infinite;
  animation: pikmin-bounce 0.6s ease-in-out infinite;
  -webkit-animation-delay: calc(var(--delay) * 1s);
  animation-delay: calc(var(--delay) * 1s);
}
